
<div id="LogBlock" class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
     <div class="jumbotron login-form">
       <img class="img-responsive center-block logo" src="./img/logo/logo.png">
        <form action="">
          <div class="form-group">
            <input name="email" type="email" class="form-control" placeholder="логин" >
          </div>
          <div class="form-group"> 
            <input name="password" type="text" class="form-control" placeholder="пароль">
          </div>
          
          <button type="submit" class="btn btn-success btn-block center-block">вход</button>
          </form>
       <p class="text-center"><a href='/auth/sign-up'>Регистрация</a></p>
      </div>
    </div>
  </div>
</div>

     <!--<div id="content"></div>--> 
  
