<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">Расход</h3>
  </div>
  <div class="col-md-8 col-lg-9 col-sm-12 hidden-xs panel panel-default">
    <div class="panel-body">
      <base-chart class="chart" 
           [data]="pieChartData"
           [labels]="pieChartLabels"
           [chartType]="pieChartType"
           (chartHover)="chartHovered($event)"
           (chartClick)="chartClicked($event)"></base-chart>
    </div>
  </div>          
  <div class="col-md-4 col-lg-3 col-sm-12">
    <h4 class="text-center">По категориям</h4>
    <table class="table table-striped table-condensed">
      <tr>
        <th>Категория</th>
        <th>Сумма</th>
      </tr>
      <tr *ngFor="let item of sumSpend">
        <td>
          <i class="category-icon fa fa-{{item['category']['path_img']}}"></i>
          {{item['category']['name']}}
        </td>
        <td>-{{item['price']}} грн.</td>
      </tr>
      <tr class='danger'>
        <td><b>Итого:</b></td>
        <td>-{{total}} грн.</td>
      </tr>
    </table> 
  </div>
  <div class="col-md-12 col-lg-12 col-sm-12">
    <h4 class="text-center">Детально</h4>
    <table class="table table-striped table-condensed">
      <tr>
        <th>Дата</th>
        <th>Наименование</th>
        <th>Сумма</th>
      </tr>
      <tr *ngFor="let wallet of wallets"
        class="'success">
        <td>{{wallet['created_at'].substr(0,10)}}</td>
        <td>
          {{wallet['name']}}
        </td>
        <td>-{{wallet['price']}} грн.</td>
      </tr>
    </table>
  </div>           
           