<body>
<div class="container" id="LogBlock" >
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
     <div class="jumbotron login-form">
       <img class="img-responsive center-block logo" src="./img/logo/logo.png">
        <form action="">
          <div class="form-group">
            <input name="email" type="text" class="form-control" placeholder="email">
          </div>
          <div class="form-group">
            <input name="FIO" type="text" class="form-control" placeholder="Ф.И.О">
          </div>
          <div class="form-group"> 
            <input name="password" type="text" class="form-control" placeholder="пароль">
          </div>
          <div class="form-group"> 
            <input name="ConfirmPassword" type="text" class="form-control" placeholder="подтвердите пароль">
          </div>
          <button type="submit" class="btn btn-success btn-block center-block">зарегистрироваться</button>
          </form>
      </div>
    </div>
  </div>
</div>
<div align="left" class="bot"></div>
 </body>