
<!--div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    
  </div>
  <div class="col-md-4 text-right">
    <div style="display:inline-block; min-height:270px;">
      <datepicker [(ngModel)]="date" [datepickerMode]='month'></datepicker>
    </div>
  </div>
</div-->
<div class="row">
  <div class="col-md-12">
    <!--div class='well text-center'>Доходы и расходы c {{ minusMonth }} по {{ date.toLocaleDateString('ru-RU') }}</div-->
    <div class="row">
      <div class="col-md-6 text-left">1</div>
      <div class="col-md-6 text-right">2</div>
    </div>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-lg-2 col-md-3 col-sm-4">
    <h4>Добавить запись</h4>
    <form>
      <input type="name" class="form-control" placeholder="Наименование">
      <input type="date" class="form-control" name="bday">
      <div dropdown [(isOpen)]="status.isopen">
        <button type="button" class="form-control text-left" dropdownToggle [disabled]="disabled">
          Категория <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
          <li class="dropdown-header text-center"><b>Доходы</b></li>
          <li *ngFor="let category of incomes"  class="list-group-item">
            <i class="category-icon fa fa-{{category['path_img']}}"></i> {{category['name']}}
          </li>
          <li class="dropdown-header text-center"><b>Расходы</b></li>
          <li *ngFor="let category of spends" class="list-group-item">
            <i class="category-icon fa fa-{{category['path_img']}}"></i> {{category['name']}}
          </li>
        </ul>
      </div>
      <button type="submit" class="btn btn-success btn-block">Добавить</button>
    </form>
    <hr>
    <h4>Доходы</h4>
    <div class="list-group">
      <a href="#" class="list-group-item" *ngFor="let category of incomes; let i = index ">
        <div class="circle {{ category['types'] == 'income' ? 'back-green' : 'back-red' }}">
          <i class="category-icon fa fa-{{category['path_img']}}"></i> 
        </div>
        {{category['name']}}
      </a>
    </div>
    <h4>Растраты</h4>
    <div class="list-group">
      <a href="#" class="list-group-item" *ngFor="let category of spends; let i = index ">
        <div class="circle {{ category['types'] == 'income' ? 'back-green' : 'back-red' }}">
          <i class="category-icon fa fa-{{category['path_img']}}"></i> 
        </div>
        {{category['name']}}
      </a>
    </div>
  </div>
  <div class="col-lg-7 col-md-6 col-sm-8">
    <h4 class="text-center">Денежные движения</h4>
    
    <table class="table table-striped table-condensed">
      <tr>
        <th>Дата</th>
        <th><i class="category-icon fa fa-list"></i></th>
        <th>Наименование</th>
        <th>Сумма</th>
      </tr>
      <tr *ngFor="let wallet of wallets; let i = index " class='i-b'
        class="{{ wallet['category']['types'] == 'income' ? 'success' : 'danger' }}">
        <td>{{wallet['created_at'].substr(0,10)}} <!--{{wallet['created_at'].substr(11,8)}}--></td>
        <td>
          <i class="category-icon fa fa-{{wallet['category']['path_img']}}"></i> 
        </td>
        <td>
          {{wallet['name']}}
        </td>
        <td>
          {{ wallet['category']['types'] == 'income' ? '+' : '-' }}
          {{wallet['price']}} грн.
        </td>
      </tr>
    </table>
  </div>
  <div class="col-lg-3 col-md-3 hidden-sm hidden-xs" >
    <h4 class="text-center">Инфо</h4>
    <div class="row">
      <div class="col-md-12">
        <div class="list-group">
          <a href="#" class="list-group-item text-center">
            <b>Кошелек</b>
          </a>
          <a href="#" class="list-group-item">
            <b>Доход:</b> +{{sum['income']}}грн.
          </a>
          <a href="#" class="list-group-item">
            <b>Расход:</b> -{{sum['spend']}}грн.
          </a>
          <a href="#" class="list-group-item">
            <b>Баланс:</b> {{sum['total']}}грн.
          </a>
        </div>
      </div>
      <div class="col-md-12">
        <table class="table table-striped table-condensed">
          <tr>
            <th>Валюта</th>
            <th>Покупка</th>
            <th>Продажа</th>
          </tr>
          <tr *ngFor="let cours of courses; let i = index ">
            <td>{{cours['ccy']}}</td>
            <td>{{cours['buy']}}</td>
            <td>{{cours['sale']}}</td>
          </tr>
        </table>
      </div>
    </div>
    
  </div>
</div>
