
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">
        <img id="logo" src="/img/logo/logo.png" alt="Домашний бухгалтер" class="img-responsive">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li [class.active]="router.urlTree.contains(router.createUrlTree(['/home']))">
          <a [routerLink]="['/home']">Главная</a>
        </li>
        <li [class.active]="router.urlTree.contains(router.createUrlTree(['/income']))">
          <a [routerLink]="['/income']">Доход</a>
        </li>
        <li [class.active]="router.urlTree.contains(router.createUrlTree(['/spend']))">
          <a [routerLink]="['/spend']">Расход</a>
        </li>
        <li [class.active]="router.urlTree.contains(router.createUrlTree(['/statistic']))">
          <a [routerLink]="['/statistic']">Статистика</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="footer hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6 text-left">
        (c)Yuriy Shepitko
      </div>
      <div class="col-md-6 col-sm-6 text-right">
        2016 NMeTAU
      </div>
    </div>
  </div>
</footer>