<div class="row">
  <div class="col-md-12">
    <h2>Статистика</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6" style="padding:0;">
    <h3>Всего</h3>
    <base-chart class="chart"
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></base-chart>
  </div>
  <div class="col-md-6">
    таблица
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Месяц</h3>
    столбцы чарт
  </div>
  <div class="col-md-6">
    таблица
  </div>
</div>